
# Backend
# Fastlane
# Projeto nativo gerado pelo prebuild
*.keystore
*.log
.DS_Store
.bundle/
.env
.expo/
android/
backend/.env
backend/node_modules/
dist/
fastlane/Preview.html
fastlane/report.xml
ios/
node_modules/
vendor/bundle/
web-build/
