node_modules/
.expo/
dist/
web-build/
*.log
.env
.DS_Store
android/
ios/

# Backend
backend/node_modules/
backend/.env

# Fastlane
fastlane/report.xml
fastlane/Preview.html
*.keystore
vendor/bundle/
.bundle/
